@import './fonts/Roboto.css';
@import '~antd/dist/antd.css';
/* color 
blue : #d4145a
red : #d4145a
*/
body {
	font-family: 'Roboto', sans-serif !important;
	margin: 0;
	padding: 0;
	color: #454950;
}
#root {
	height: 100%;
}

section {
	height: calc(100% - 64px);
}

.ant-layout-content {
	position: relative;
}

.table-row-light {
	background-color: #ffffff;
}

.table-row-dark {
	background-color: #fbfbfb;
}

.ac-tooltip {
	position: absolute;
	visibility: hidden;
	border: 1px solid #efefef;
	background-color: white;
	opacity: 0.8;
	padding: 5px 15px;
	transition: top 200ms, left 200ms;
	-moz-transition: top 200ms, left 200ms; /* Firefox 4 */
	-webkit-transition: top 200ms, left 200ms; /* Safari 和 Chrome */
	-o-transition: top 200ms, left 200ms;
}
.custom-table {
	margin: 10px;
}
.custom-table td {
	border: 1px solid #cdcdcd;
	padding: 5px 8px;
}
.iframe-container {
	width: 100%;
	height: 100%;
}
iframe {
	width: 100%;
	height: 100%;
	border: 0px;
}
.ant-table-ping-right:not(.ant-table-has-fix-right) .ant-table-container::after {
	-webkit-box-shadow: none;
	box-shadow: none;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 9px;
	height: 9px;
}
::-webkit-scrollbar-thumb {
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	border-radius: 4px;
	background-color: rgba(217, 217, 217, 1);
}
.text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: 3s;
}
.text-truncate:hover {
	white-space: break-spaces;
	word-break: break-all;
}

#components-table-demo-resizable-column .react-resizable {
	position: relative;
	background-clip: padding-box;
}

#components-table-demo-resizable-column .react-resizable-handle {
	position: absolute;
	width: 10px;
	height: 100%;
	bottom: 0;
	right: -5px;
	cursor: col-resize;
	z-index: 1;
}
.ant-layout-header {
	padding: 0;
}
.ant-layout-sider-trigger,
.ant-layout-header {
	background: #fff !important;
	box-shadow: 0 1px 1px rgba(69, 73, 80, 0.1);
	display: flex;
	align-items: center;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
	border-right: 3px solid #d4145a !important;
	left: 0 !important;
	right: auto;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
	color: #d4145a;
}

li.ant-menu-item.ant-menu-item-only-child {
	margin: 0;
	height: 50px;
	display: flex;
	align-items: center;
}

.ant-menu-inline .ant-menu-item:not(:last-child) {
	margin-bottom: 0px;
}
.trigger {
	color: #8d8d94;
	font-size: 25px;
	height: 64px;
	width: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding-left: 60px;
	margin-left: 12px;
	font-size: 18px;
	background: url(../assets/images/logo.png) no-repeat;
	background-size: 40px;
	color: #454950 !important;
}
.logo:before {
	content: '';
	display: block;
	border-right: 1px solid #e6e6eb;
	margin-right: 16px;
	width: 1px;
	height: 100%;
}

.ant-layout-sider-children,
.ant-menu-root {
	background: #e6e6eb !important;
	border-right: 1px solid #babbc2;
}
ul.ant-menu {
	border: none;
	font-weight: 700;
}

li.ant-menu-item a {
	color: #454950;
}

li.ant-menu-item.ant-menu-item-selected a {
	color: #d4145a;
}

li.ant-menu-item:hover,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background: #d9d9df !important;
}
li.ant-menu-item:hover > a {
	color: #d4145a !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
	border-right: 1px solid #e6e6eb;
}
.ant-menu-vertical .ant-menu-item:not(:last-child),
.ant-menu-vertical-left .ant-menu-item:not(:last-child),
.ant-menu-vertical-right .ant-menu-item:not(:last-child),
.ant-menu-inline .ant-menu-item:not(:last-child) {
	margin: 0;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-inline-collapsed {
	width: calc(100%);
}

/* .ant-modal-content {
	height: 100%;
	margin-bottom: 10px;
} */
/*.ant-modal-body{
	height:87.5%;
	padding: 15px 15px 0px 15px;
}

form{
	height: 100%;
	max-height: 100%;
} */
